body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    
    height: 30rem;
   
}
nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
    border-radius: 15px;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

img{
    width: 6.54%;
    margin-left: 1.9rem;
    margin-top: 0.0%;
    
}

nav ul li:hover{
    background-color: coral;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    transform: translateY(-20px);
}

.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}

.section h1{
    color: #6a8d19;
    line-height: 50px;
}
.section p{
    color: lightblue;
    font-weight: bold;
    border-radius: 10px;
}
.btn1{
    background-color:orangered ;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.features{
   margin-top: 4%;
   margin-bottom: 2%; 
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
}
.features button:hover{
    background-color: lightblue;
    color: #000;
    font-weight:lighter;
    font-size: 1.2rem;
    transition: 1s;
}


showcase h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color:  #6a8d19;
}

#streams{
    display: flex;
    text-align: center;
    padding-left: 150px;
}
#home-streams{
  display: flex;
  text-align: center;
  
}
#home-streams img{
  width: 250px;
  border-radius: 10px;
  border: 2px solid #000;
}

#streams img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid #000;
}

.apply{
    margin-top: 4%;
    background-color: orangered;
    padding:0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

footer{
    background-color:rgb(106, 141, 25) ;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}
.footer-container{
  
  text-decoration: none;
}
.left-foot ul li{
  
}

.hero{
    background-color: #f8f8f8;
    overflow: hidden;
}
.heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-content button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
}
.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
}
.view{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.background{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(75, 73, 73) ;

}
.background p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(107, 105, 105) ;
}
.background h3{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(75, 73, 73) ;
    text-align: center;
    
}
.eventContainer{
   justify-content: center;
    margin: 200px !important;
}
.events-content{
    box-shadow: 10px 10px 10px
    -10px rgba(0, 0, 0, 0.3),inset
    rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    background: #fff !important;
    margin-top: -70px !important;
    margin-left: 20px !important;
    position: absolute;

}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: #000;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}



.contact {
    text-align: center;
  }
  
  .contact h1 {
    color: #333;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  .contact-form.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btns {
    display: inline-block;
    margin-top: 10px;
  }
  
  .btns a {
    text-decoration: none;
    color: #333;
  }
  
  .fa-home {
    margin-right: 5px;
  }

  .contact {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contact h1 {
    text-align: center;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btns {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  .btns a {
    text-decoration: none;
    color: #333;
  }

  .contact {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .contact h1 {
    text-align: center;
    color: #333;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #e9de80;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form.button {
    background-color: #f7f9fc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btns {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  .btns a {
    text-decoration: none;
    color: #333;
  }
  
  .btns a:hover {
    text-decoration: underline;
  }


  button {
    position: relative;
    padding: 15px 45px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    cursor: pointer;
    border: 1px solid #fec195;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  }
  
  button:hover {
    border: 1px solid #f3b182;
    background: linear-gradient(
      85deg,
      #fec195,
      #fcc196,
      #fabd92,
      #fac097,
      #fac39c
    );
    animation: wind 2s ease-in-out infinite;
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  }
  
  button:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  button:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  button:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .contact {
    background-color: #f0f0f0; /* Set the background color to light gray */
    padding: 20px; /* Add padding for spacing */
}

.container {
    background-color: #f8f8f8; /* Set a slightly lighter background color for the container */
    padding: 20px; /* Add padding for spacing */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form.button {
    background-color: #4CAF50; /* Green background color for the submit button */
    color: white; /* Text color for the button */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btns {
    background-color: #008CBA; /* Blue background color for the HOME button */
    color: white; /* Text color for the button */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from the link */
}

.contact {
    background-color: rgb(235, 176, 109);
}


.form-group {
    background-color: lightblue; /* Adjust background color of form elements */
}

.form-control {
    background-color: #f0f0f0; /* Adjust input field background color */
}

  
  
  




/*responsiveness*/
@media (max-width: 643px) 
{
    .hideOnmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media (max-width: 713px) 
{
    .section h1{
        font-size: 1.5rem;
       
    }
    showcase h1{
        font-size: 1.5rem;
    
    }
}


